DATABASE_URL="postgresql://user:password@host:5432/appuntes"

NEXTAUTH_URL="https://appuntes-xxx.onrender.com"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"

NEXT_PUBLIC_MERCADOPAGO_PUBLIC_KEY=""
MERCADOPAGO_SECRET_KEY=""

DAILY_API_KEY=""
